Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-identifier-naming,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-using
WarningsAsErrors: ''
HeaderFilterRegex: 'include/acoustic/.*'
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: lower_case
